<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Usuarios</title>
</h:head>

<h:body>
	<h:form>
		<p:panel header="Usuários - Listagem">
			<p:dataTable emptyMessage="Nenhum registro encontrado."
				paginator="true">
				<f:facet name="header">
					<p:commandButton value="Novo" oncomplete="PF('dialogo').show();" />
				</f:facet>

				<p:column headerText="Nome">
				</p:column>

				<p:column headerText="CPF">
				</p:column>

				<p:column headerText="Tipo">
				</p:column>

				<p:column headerText="Ativo">
				</p:column>

				<p:column headerText="Opções">
				</p:column>
			</p:dataTable>
		</p:panel>
	</h:form>

	<p:dialog header="Usuários - Cadastro" widgetVar="dialogo"
		draggable="false" resizable="false" modal="true" closable="false">
		<h:form>
			<h:panelGrid columns="2">
				<p:outputLabel for="pessoa" value="Pessoa:" />
				<p:selectOneMenu id="pessoa" filter="true"
				value="#{usuarioBean.usuario.pessoa}"
					converter="omnifaces.SelectItemsConverter">
					<f:selectItem noSelectionOption="true" itemLabel="Selecione um Pessoa"/>
					<f:selectItems value="#{clienteBean.pessoa}" 
									var="pessoa"
									itemValue="#{pessoa}" 
									itemLabel="#{pessoa.nome}"/>
				</p:selectOneMenu>

				<p:outputLabel value="Senha:" />
				<p:password maxlength="8" size="10" />

				<p:outputLabel value="Tipo:" />
				<p:selectOneRadio>
					<f:selectItem itemValue="A" itemLabel="Administrador" />
					<f:selectItem itemValue="G" itemLabel="Gerente" />
					<f:selectItem itemValue="B" itemLabel="Balconista" />
				</p:selectOneRadio>

				<p:outputLabel value="Ativo:" />
				<p:selectBooleanCheckbox />

			</h:panelGrid>

			<h:panelGrid columns="2">
				<p:commandButton value="Salvar" />
				<p:commandButton value="Fechar" oncomplete="PF('dialogo').hide();" />
			</h:panelGrid>
		</h:form>
	</p:dialog>


</h:body>
</html>